*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #efefef;
}
@font-face {
	font-family:Roboto-Light;
	src: url(../fonts/Roboto-Light.ttf);
}
main {
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}
.item
{
	width: calc(50% - 40px);
	height: calc((35vw - 40px)/16*9);
	margin: 20px;
	background-color: red;
	background-position: center;
	background-size: cover;
	transition: all 0.5s ease;
}
.item:hover{
	transform: rotate(3deg) scale(1.0);
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 1.0);
}
h1 {
	font-family: roboto;
	width: 100%;
	text-align: center;
	font-size: 48px;
}
.photo1 {
	background-image: url(../images/img1.jpg);
}
.photo2 {
	background-image: url(../images/img2.jpeg);
}